
  
  /* Form container styling */
  .formcontainer {
    background: linear-gradient(57deg, #35b485, #047c04);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    width: 400px; /* Adjust the width as needed */
    margin: auto;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  /* Styling form elements: labels, inputs, select, and button */
  .formcontainer label {
    display: block;
    margin-top: 1em;
    color: #333;
  }
  
  .formcontainer input[type=text],
  .formcontainer select,
  .formcontainer input[type=number] {
    width: 100%;
    padding: 5px;
    margin-top: 0.5em;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Makes sure padding doesn't affect the total width */
  }
  
  .formcontainer button {
    width: 100%;
    padding: 10px;
    margin-top: 1em;
    background: linear-gradient(57deg, #185941, #035803);
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .formcontainer button:hover {
    background-color: #6ded6d; /* Button hover state color */
  }
  
  /* Note section at the bottom of the form */
  .formcontainer .note {
    margin-top: 1em;
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: #555;
    font-size: 0.9em;
  }
  
  /* Small screens adjustments */
  @media (max-width: 768px) {
    .formcontainer {
      width: auto;
      margin: 2em;
    }
  }
  h2 {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(0, 0, 0, 0.95);
}