.main-content {
  display: flex;
  justify-content: space-between; /* This will place the AddVoter to the right */
}

  
  
.voters-content {
  width: 90%; /* Adjust as needed */
  border-collapse: collapse;
  position: relative;
  right: 10px;
  
}

.voters-content table {
  width: 100%;
  border: 1px solid #ccc; /* Light grey border */
  table-layout: fixed;
  width: 55vh; /* This helps with equal spacing of columns */
}

.voters-content th,
.voters-content td {
  border: 1px solid #ccc; /* Light grey border for each cell */
  text-align: left;
  padding: 6px; /* Adjust the padding as needed */
  background-color: #f9f9f9; /* Light grey background for each cell */
}

.voters-content th {
  background-color: #e9ecef; /* Slightly darker grey for headers */
  color: #333; /* Dark grey color for header text */
  font-weight: bold;
}