/* AdminPage.css - Main admin page styling */

.admin-page-container {
  display: flex;
  height: 1vh;
  
}

.vertical-nav-container {
  /* Style your vertical nav to fit your needs */
  width: 250px; /* Adjust width as necessary */
  background-color: #f4f4f4; /* Example background color */
  padding: 20px;
}

.ss {
  position: relative;
}

.grid-container button{
  height: 50px; ;
}

/* Additional styles for form elements and buttons within .create-district-container */
