.navbarContainer {
  background: linear-gradient(57deg, #185941, #035803);
  border-radius: 25px;
  padding: 0px;
  margin: 10px auto;
  width: fit-content;
  height: 70px;
  
}
.navbarStyle ul { 
  margin: 0; 
  padding: 0; 
  margin-top: 0px;
  list-style: none; 
  display: table;
  width: 600px;
  text-align: center;
}
.navbarStyle li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
.navbarStyle a {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.navbarStyle a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbarStyle a:hover:after { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
	.navbarStyle ul {
		margin-top: 40px;
	}
}
