* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.site-header {
  position: relative; /* Ensure that the header is positioned relative for the pseudo-element */
  width: 100%;
  height: 100vh;
  overflow: hidden; /* Hide overflow to ensure the blur effect is contained */
}

.site-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../../public/backgrounds/2.jpg') no-repeat center center;
  background-size: cover;
  filter: blur(3px); /* Adjust the blur intensity as needed */
  z-index: -1; /* Ensure the blur overlay is behind the content */
}

nav {
  width: 100%;
  height: 100px;
  background: linear-gradient(57deg, #006A4E);
  display: flex;
  color: white;
}

.logo {
  width: 50%;
  height: 50px;
}

.logo h1 {
  line-height: 100px;
  padding-left: 50px;
}

.menu {
  width: 50%;
  height: 100px;
}

.menu ul {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.menu ul li {
  list-style: none;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

section {
  display: flex;
}

.leftside {
  width: 60%;
  height: auto;
  overflow: hidden;
  margin-top: 20px;
}

.leftside img {
  padding-left: 50px;
  width: 800px;
  height: 400px;
}

.rightside {
  width: 40%;
  height: 300px;
  color: white;
  text-align: center;
  position: absolute;
  top: 200px;
  left: 804px;
}

.rightside h1 {
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
}

.rightside p {
  font-size: 1.1rem;
  padding: 30px 0;
}

.rightside button {
  font-size: 17px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background: linear-gradient(57deg, #b80000, #dd0303);
  border-radius: 25px;
  padding: 20px 35px;
  margin: 8px;
  width: 50vh;
}

.rightside button:hover {
  background: linear-gradient(57deg, #c1292e, #f32f2f);
}

.home-page-container {
  display: flex;
  justify-content: space-between;
}

.content-area {
  flex: 1;
  /* additional styles for padding or margins can be added here */
}

.login-form-area {
  flex: 1;
  /* adjust as necessary for proper alignment and spacing */
}

@media (max-width: 768px) {
  .home-page-container {
    flex-direction: column;
  }
}
